* {
        margin: 0;
        padding: 0;
}

body {
        font-size: 20px;
        margin: 0;
        padding: 0;
        background-color: rgb(53, 53, 53);
        background-image: url(back.png);
        background-attachment: fixed;
        background-clip: content-box;
        background-size: cover;
}

.container, .result-notification {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh;
        max-height: 40vh;
        width: 400px;
        max-width: 50%;
        color: #ffffff;
        background-color: #004;
        padding: 5% ;
}

h1 {
        font-size: 200%;
        font-weight: 1000;
        margin: 5% 0 ;
        font-family: 'Nova Square', cursive;
        color: #00c;
        -webkit-text-stroke: 0.5px#4fb4ff;
}

.h1-belowtitle, .h1-belowtitlemain {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 100%;
        margin: 2% 2% ;
        padding: 5%;
        color: #4fb4ff;
}

.genNumBtn, .tryagain-btn {
        border: 0;
        border-radius: 20px;
        width: 150px;
        padding: 2% 0;
        width: 150px;
        background-color: #00c;
        color: #4fb4ff ;
        text-decoration: none ; 
        cursor: pointer;        
}


.genNumBtn:focus,
.userInput:focus,
.tryagain-btn:focus {
        outline:0;
}

.userInput {
        display: block;
        border: 0;
        border-radius: 20px;
        padding: 2%0 ;
        width: 150px;
        color: #fff;
        text-align: center;
        height: 100px;
        background-color: #00c;
}
.userInput {
        display: none;
}

.result-notification {
        display: none;
}

.tryagain-btn {
        display: block;
        width: 150px;
        margin: 0 auto;
}


.overlay {
        position: fixed;
        opacity: 0;
        transition: 0.35s ease-in-out;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: coral;
        pointer-events: none;
}

.overlay.active {
        opacity: 1;
        pointer-events: all;
}